attrs
Babel
bcc
bcrypt
blinker
Brlapi
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
duplicity
fasteners
httplib2
idna
importlib-metadata
jaraco.classes
jeepney
Jinja2
jsonpatch
jsonpointer
jsonschema
jupyter_core
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
Mako
markdown-it-py
MarkupSafe
mdurl
monotonic
more-itertools
netaddr
oauthlib
olefile
paramiko
pexpect
pillow
platformdirs
ptyprocess
pycairo
pycups
Pygments
PyGObject
PyJWT
PyNaCl
pyOpenSSL
pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
requests
rich
screen-resolution-extra
SecretStorage
setuptools
six
systemd-python
traitlets
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
wheel
xdg
xkit
zipp
